@charset "utf-8";

@import "guide";
@import "font";
@import "fontello";
@import "box";
@import "motion";
@import "layerpop";
@import "icons";
@import "form";
@import "button";
@import "tab";
@import "table";
@import "accodion";
@import "image";

body.scrollLock { overflow:hidden;}

#container { width:100%; transition: all .3s ease;}
.contents #container { padding-top:0;}

.section { position:relative; width:100%; max-width:148rem; padding:0 20px; margin:0 auto;}
.section.type2 { width:100%; max-width:192rem; min-width:160rem; padding:4rem;}

.pcNone { display:none !important;}
.moNone { display:block !important;}

@media screen and (max-width:767px) {
    .section { padding:0 10px;}

    .pcNone { display:block !important;}
    .moNone { display:none !important;}
}

