@charset "utf-8";

:root {
    --point-color : #0653b6;
    --point-color-hover : #0549a0;
    --point-color-bg : #0653b6;
    --point-color-line : #0653b6;
    --point-color-text : #0653b6;
    --point-color-box : #0653b6;
}
